!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "ie=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Document
  %body
    %table{align: "center", border: "0", width: "80%"}
      %tr
        %td
          %h1 Название сайта
          = yield